@page {
  size: 210mm 297mm;
  size: A4;
  margin: 0mm;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 0;
  }
}

body {
  font-size: 10pt;
}

.absolute {
  position: absolute;
}

.container_a5 {
  width: 210mm;
  height: 148mm;
}

.productos {
  max-height: 105mm;
  max-width: 187mm;
  left: 13mm;
  top: 82mm;
}

.productos_a5 {
  max-height: 64mm;
  max-width: 190mm;
  left: 9mm;
  top: 48mm;
}

.iva {
  left: 163mm;
  top: 198mm;
  width: 4mm;
}

.total {
  width: 29mm;
  left: 171mm;
  text-align: right;
}

.total_a5 {
  width: 17mm;
  left: 183mm;
  text-align: right;
}

.son {
  left: 25mm;
  top: 220mm;
}

.debo {
  left: 89mm;
  top: 229mm;
  font-size: 8pt;
}

.firma {
  left: 20mm;
  top: 258mm;
  width: 70mm;
  font-size: 9pt;
  text-align: center;
}

.firma_a5 {
  left: 23mm;
  top: 125mm;
  width: 53mm;
  font-size: 9pt;
  text-align: center;
}
