@page {
  /* size: 210mm 297mm; */
  size: A4;
  margin: 5mm 5mm 5mm 5mm;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 0;
  }
}

body {
  font-size: 10pt;
}

.absolute {
  position: absolute;
}

.productos {
  max-height: 105mm;
  max-width: 187mm;
  left: 13mm;
  top: 82mm;
}

.iva {
  left: 163mm;
  top: 198mm;
  width: 4mm;
}

.total {
  width: 29mm;
  left: 172mm;
  text-align: right;
}

.son {
  left: 25mm;
  top: 221mm;
}

.debo {
  left: 89mm;
  top: 230mm;
  font-size: 8pt;
}

.firma {
  left: 20mm;
  top: 260mm;
  width: 70mm;
  font-size: 9pt;
  text-align: center;
}
